@page "/"
@attribute [Authorize]
@inject IToastService ToastService
@inject AuthenticationStateProvider AuthStateProvider
@inject Services.IFlyoutService Flyout

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<span class="badge badge-primary">Primary</span>

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="./images/rick.jfif" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Default Guy</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
