@page "/about-us"

<div class="px-4 pb-4">
	<div class="container">
		<h1>About Us</h1>

		<p>Meet the people behind the scenes and learn about us! Feel free to contact any one of us if you need someone to talk to. There is always somebody that will answer.</p>

		<div class="row">
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Daniel Schumacher</h5>
						<p class="card-text">President</p>
						<p class="card-text">I am the founder of Prevent 22 Veterans. I was born and raised in Northwest Arkansas. I joined the Marine Corps as a V-22 Crew Chief straight out of high school. I did one deployment to Afghanistan and one to Spain and Sicily in support of American Embassies in Africa. I got out in 2014 and moved back home where I now reside with my supportive wife and children.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:daniels@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> daniels@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Derreck Ash</h5>
						<p class="card-text">Vice President</p>
						<p class="card-text">I served 4 years in the Marine Corps. Since getting out I have relocated to Florida. I’ve had my fair share of issues in life involving mental issues. I wanted to be apart of Prevent 22 Veterans to be apart of a change bigger than myself; To be able to have others reach out and just talk and vent. If you’re going through anything or just want to talk, please don’t hesitate to contact me.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:derrecka@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> derrecka@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Brandon Just</h5>
						<p class="card-text">Secretary</p>
						<p class="card-text">I’m a 5 year Marine Corps veteran with some years in the Army Reserves. I’ve deployed 3 times and witnessed what deployments can do to people. I’m also a single father, who has dealt with his fair share of loss on all sides. I know just how hard the demons and darkness can come out and kick us while we are already down. I’m far from perfect but I’m tired of losing people, I may not have the longest career in the military but I’m dedicated to do what it takes to help those who are struggling.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:brandonj@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> brandonj@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Michael Nunes</h5>
						<p class="card-text">Head of Public Relations</p>
						<p class="card-text">I have an amazing wife and two boys. I am still currently serving in the Arkansas Army National Guard. In my nearly 16 year career I’ve dealt with it deployments, divorce, depression, anxiety and a long list of other obstacles. The main reason that I became part of this organization is because I’ve lost fellow soldiers that I was close to and I don’t want to lose any more. If you are going through something please do not hesitate to reach out to me. Chances are I may have experienced a similar situation and would love the opportunity to help you navigate through any issues you may be battling.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:michaeln@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> michaeln@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Jasmin Munoz</h5>
						<p class="card-text">Administrator</p>
						<p class="card-text">I was medically separated from the Army in 2018 after serving for 5 years and I currently reside in Killeen, TX. I joined Prevent 22 Veterans to help impact the community because I have lost friends to suicide and I want to bring a change. I couldn’t be there for those I’ve lost so now my goal is to help as many people as I can. You are not alone. I will fight with you!</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:jasminm@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> jasminm@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4 pb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">Karlie Diveley</h5>
						<p class="card-text">Administrator</p>
						<p class="card-text">I’m from Peoria, IL and I served in the Army from 2014 to 2019. I am now currently working towards my CNA and I plan to earn a Bachelor’s degree in social work. This organization has awakened a new purpose in my life; to lead others to live their happiest, most fulfilling lives possible. I am proud to be part of such a supporting and uplifting group of people. I’m devoted to help stray the path of those who feel suicide is their only option.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="mailto:karlied@prevent22.com" class="p22-link">
								<i class="fa fa-envelope"></i> karlied@prevent22.com
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
