@page "/forum"
@inject IToastService ToastService
@inject Services.IBoardService BoardService
@using Prevent22.Shared

<style>
	div.post:hover {
		cursor: pointer;
		background: lightgrey;
	}

	div.post > p {
		margin: 0;
	}
</style>

<div class="px-4 pb-4">
	<div class="container">
		<TelerikListView Data="@boards" Pageable="true">
			<HeaderTemplate>
				<h3>Forum</h3>
			</HeaderTemplate>
			<Template>
				<div class="post" @onclick="@(() => showInfo(context))">
					<div class="row">
						<div class="col-6"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
					</div>
					<p>@context.BoardName</p>
					<p>@context.BoardDescription</p>
				</div>
			</Template>
		</TelerikListView>
	</div>
</div>

@code {
	private List<Board> boards;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var res = await BoardService.GetBoards();

			if (res.Success)
			{
				boards = res.Data;
			}
			else
			{
				ToastService.ShowError(res.Info);
			}
		}
		catch (Exception e)
		{
			ToastService.ShowError(e.Message);
		}
	}

	private void showInfo(Board board)
	{
		ToastService.ShowInfo(board.BoardDescription, board.BoardName);
	}
}
