@page "/resources/jobs"

<div class="px-4 pb-4">
	<div class="container">
		<h1>Job Opportunities</h1>

		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-xl-3 pb-4">
				<div class="card">
					<img src="images/man-in-suit.jpg" class="card-img-top" alt="man in suit">
					<div class="card-body">
						<h5 class="card-title">LinkedIn</h5>
						<a href="https://indeed.com/" target="_blank" rel="noreferrer" class="btn btn-danger">Search</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-xl-3 pb-4">
				<div class="card">
					<img src="images/hand-shake.jpg" class="card-img-top" alt="handshake">
					<div class="card-body">
						<h5 class="card-title">USAJOBS</h5>
						<a href="https://usajobs.gov/" target="_blank" rel="noreferrer" class="btn btn-danger">Search</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-xl-3 pb-4">
				<div class="card">
					<img src="images/interview.jpg" class="card-img-top" alt="interview">
					<div class="card-body">
						<h5 class="card-title">VA – Careers and Employment</h5>
						<a href="https://www.va.gov/careers-employment" target="_blank" rel="noreferrer" class="btn btn-danger">Search</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-xl-3 pb-4">
				<div class="card">
					<img src="images/laptops-at-coffee-shop-1.jpg" class="card-img-top" alt="laptops at coffee shop">
					<div class="card-body">
						<h5 class="card-title">Home Depot – Military Careers</h5>
						<a href="https://careers.homedepot.com/career-areas/military" target="_blank" rel="noreferrer" class="btn btn-danger">Search</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
