@page "/flyout"
@inject Services.IFlyoutService Service

<div style="background: #2b2f33; color: white;">
	<h3 style="padding: 10px 0 10px 10px; margin: 0;">@Service.Title</h3>
	<span @onclick="Service.Close" style="position: absolute; top: 10px; right: 20px; font-size: 1.5rem; cursor: pointer;">
		<i class="fa fa-times"></i>
	</span>
</div>

<div style="height: calc(100% - 53px); padding: 10px; overflow: auto;">
	@if (Service.Content != null)
	{
		@renderFragment(Service.Content, Service.Data)
	}
</div>

@code {
	protected override void OnInitialized()
	{
		Service.OnChange += StateHasChanged;
	}

	private RenderFragment renderFragment(Type t, dynamic data) => builder =>
	{
		builder.OpenComponent(0, t);

		if(data != null) {
			builder.AddAttribute(1, "Data", data);
		}
		
		builder.CloseComponent();
	};
}
