@layout TelerikLayout
@inherits LayoutComponentBase
@implements IDisposable
@inject Services.IFlyoutService Flyout
@inject Services.BrowserService BrowserService
@inject Services.IAuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Microsoft.JSInterop.IJSRuntime js

<style>
	#flyout {
		background: white;
		position: fixed;
		height: @(windowHeight)px;
		width: 100%;
		right: -100%;
		display: block;
		transition: 0.3s linear;
		z-index: 99999;
		box-shadow: black 2px 0px 10px;
	}

	#flyout.open {
		right: 0;
	}

	#flyout.closed {
		right: -100%;
	}

	.socials {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		background-color: hsl(0, 0%, 5%);
	}

	.socials button {
		background-color: #ed3f39;
		border-color: #ed3f39;
	}

	.socials button a {
		color: white;
	}

	footer {
		background-color: black;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	footer > div {
		font-size: 1.2rem;
		color: white;
	}

	@@media screen and (min-width: 1px) {
		#flyout.open {
			width: 100%;
		}
	}

	@@media screen and (min-width: 592px) {
		#flyout.open {
			width: 70%;
		}
	}

	@@media screen and (min-width: 769px) {
		#flyout.open {
			width: 50%;
		}
	}

	@@media screen and (min-width: 992px) {
		#flyout.open {
			width: 45%;
		}
	}
</style>

<BlazoredToasts />

<div class="main">
	<NavMenu />

	<div class="content px-4" style="padding: 0 !important;">
		@Body
	</div>

	<div class="container-fluid socials">
		<div class="container text-center">
			<button class="btn btn-danger">
				<a href="https://www.facebook.com/Prevent-22-Veterans-100535335071697" target="_blank" rel="noreferrer">
					<i class="fab fa-facebook"></i>
				</a>
			</button>
		</div>
	</div>

	<footer class="container-fluid">
		<div class="container text-center">
			Copyright &copy; @year by Prevent 22 Veterans 501(c)(19). All rights reserved.
		</div>
	</footer>
</div>

<div id="flyout" class="@(Flyout.IsOpen ? "open" : "closed")">
	<Flyout />
</div>

@code {
	private int windowHeight;
	private int year = DateTime.Now.Year;

	protected override async Task OnInitializedAsync()
	{
		Flyout.OnChange += StateHasChanged;

		// listen for browser resize
		Prevent22.Client.Services.BrowserService.OnResize += BrowserHasResized;
		await js.InvokeAsync<object>("Prevent22.registerResizeCallback");

		windowHeight = await BrowserService.GetHeight();
	}

	private async Task BrowserHasResized()
	{
		windowHeight = await BrowserService.GetHeight();

		// let blazor know that the state changed
		StateHasChanged();
	}

	public void Dispose()
	{
		// stop listening for browser resize
		Prevent22.Client.Services.BrowserService.OnResize -= BrowserHasResized;
	}
}
