@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<img src="./images/P22Veterans_Logo-Color.png" alt="Prevent 22 Veterans" class="nav-logo">
	</a>
	<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="@NavMenuCssClass navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="events">Events</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="forum">Forum</NavLink>
			</li>
			<li class="nav-item dropdown @DropDownClass">
				<a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="@showDropDown" @onclick="(() => showDropDown = !showDropDown)">
					Dropdown
				</a>
				<div class="dropdown-menu @DropDownClass" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

@code {
	private bool collapseNavMenu = true;
	private bool showDropDown = false;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string DropDownClass => showDropDown ? "show" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private async void Logout()
	{
		Services.AuthService.IsLoggedIn = false;
		await LocalStorage.RemoveItemAsync("authToken");
		await LocalStorage.RemoveItemAsync("userId");
		await AuthStateProvider.GetAuthenticationStateAsync();
	}
}
